  ** Conditional Statements**


     1. if
     2. else
     3. elif
     4. break

** Control Statements**


    1. for loop - non-continuous- how many times we want to rotate. ex: Charminar.

    Syntax: for <var> in range(sp:ep): sp-statring point, ep- ending point
  
    2. while loop - continuous ex: Sloar system

In [2]:
for i in range(11,16):   # python works as (n-1) rule so up to 5 values it will print
  print(i)

11
12
13
14
15

In [3]:
for i in range(11,19):    # gm is printed 8 times
  print('gm')

gm
gm
gm
gm
gm
gm
gm
gm

In [4]:
for i in range(19):    # if we wont give sp it will start from 0 to ep as 18
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [5]:
for i in range(11,14):   # here pass wont do anything because no conditions so will goto print
   pass
print('Good Afternoon')

Good Afternoon

In [6]:
print('I am fron Hyd')
print('I am from Chennai')
a=12
print(a)
for j in range(1,8):   # from 1 to 7 adding 30 to it(1+30,2+30,3+30...7+30) printing the updated (31,32,33....37) values
  print(j+30)   # here adding 30 will be done
print('I am from Chennai')

I am fron Hyd
I am from Chennai
12
31
32
33
34
35
36
37
I am from Chennai

In [7]:
for i in range(11,18):    # printing the numbers in a horizontal way
  print(i,end = '->')

11->12->13->14->15->16->17->

** if, else, elif conditions **


    1. if: it is used to write a condition
    2. else: it will work only if if wont work
    3. elif: inside if we can many elif's if we want

In [8]:
money = 120000       # here money > ihone so i can buy iphone
iphone = 80000
if(money>iphone):
  print('I can buy iphone')
else:
  print('I cant buy iphone')

I can buy iphone

In [9]:
money = 80000     # here iphone > money so i cant buy iphone
iphone = 120000
if(money>iphone):
  print('I can buy iphone')
else:
  print('I cant buy iphone')

I cant buy iphone

In [41]:
money =  120000
iphone = 100000
samsung = 50000
vivo = 25000
if(money>iphone):
  print('I can buy iphone')

elif(money>samsung):     # here we are using elif with hoe many conditions we want and printimg the o/p

 print('I can buy samsung')

elif(money>vivo):

  print('I can buy vivo')

else:
  print('I cant buy anything')

I can buy iphone

In [67]:
# from 11 to 20 find even numbers

for i in range(11,21):
  if i % 2 == 0:
    print(f'Even: {i}')

Even: 12
Even: 14
Even: 16
Even: 18
Even: 20

In [86]:
# from 11 to 20 printing odd numbers

for j in range(11,21):
  if j%2!=0:
    print(f'odd: {j}')

odd: 11
odd: 13
odd: 15
odd: 17
odd: 19

In [88]:
# printing prime numbers between 1 to 100

for i in range(1,101):
  if i%2 ==0:
    print(f'Prime: {i}')

Prime: 2
Prime: 4
Prime: 6
Prime: 8
Prime: 10
Prime: 12
Prime: 14
Prime: 16
Prime: 18
Prime: 20
Prime: 22
Prime: 24
Prime: 26
Prime: 28
Prime: 30
Prime: 32
Prime: 34
Prime: 36
Prime: 38
Prime: 40
Prime: 42
Prime: 44
Prime: 46
Prime: 48
Prime: 50
Prime: 52
Prime: 54
Prime: 56
Prime: 58
Prime: 60
Prime: 62
Prime: 64
Prime: 66
Prime: 68
Prime: 70
Prime: 72
Prime: 74
Prime: 76
Prime: 78
Prime: 80
Prime: 82
Prime: 84
Prime: 86
Prime: 88
Prime: 90
Prime: 92
Prime: 94
Prime: 96
Prime: 98
Prime: 100

In [92]:
# for loop in a string: It will iterate how many characters are there that many times

a='data scinece'
for i in a:
  print(i)

d
a
t
a

s
c
i
n
e
c
e

In [94]:
a='data science'       # printing its ASCII values
for i in a:
  print(i,ord(i))

d 100
a 97
t 116
a 97
  32
s 115
c 99
i 105
e 101
n 110
c 99
e 101

In [95]:
a='data science'
print(len(a))

12

In [96]:
# removing vowels     #aeiouAEIOU

a='data science'
c=''
for i in a:
  if i not in 'aeiouAEIOU':
    c=c+i
print(c)

dt scnc

In [107]:
a='science1865'             # o/p should be 1+8+6+5=20
c=0
for i in a:
  if i.isnumeric():    # it takes only numeric values
    c = c + int(i)     # normally it is string so converting it into int
print(c)

20

In [109]:
a=[10,20,7,90,49]     # adding the elements in a list
c=0
for i in a:
  c = c + i
print(c)

176

In [114]:
a=[10,20,90,5,40]     # given list want the index of them like 010 120 290 35 440
for i in a:
  print(str(a.index(i))+str(i),end=' ')

010 120 290 35 440

In [115]:
a=[10,20,90,5,40]    # above one we can use enumerate function, it has "index,value" to a number
for i,j in enumerate(a):
  print(str(i)+str(j),end=' ')

010 120 290 35 440