** Python Dictionaries**


    --   Representation - { }
    --  Dictinaries in python work as key:value pair
    --  key - column name
    --  value - data inside the column

In [2]:
a={"Name" : "Varshitha", "Age" : 25, "Salary" : 1200}
print(a)

{'Name': 'Varshitha', 'Age': 25, 'Salary': 1200}

**  In dictionary we have key:value pair, if we want to access the value use its column [key] value **  

-- If we have same column[key] name the previous va;ue will be overide and print the new value

In [3]:
a= {'Name' : 'Varshitha', 'Age' : 25, 'Age': 35, 'Salary': 1200}  # here 25 overide and became 35
print(a)

{'Name': 'Varshitha', 'Age': 35, 'Salary': 1200}

  ** In place of values we can pass any data types like int,float,string,list,tuple,set

  -- "Inplace of keys mutable datatypes are not possible"

In [10]:
a={'Name': ['Varshi', 'likki', 'sahi'], 'Age' : [27,30,35], 'Salary' : [1200,1300,1500]}
print(a)

{'Name': ['Varshi', 'likki', 'sahi'], 'Age': [27, 30, 35], 'Salary': [1200, 1300, 1500]}

In [11]:
a={[10,20,30] : 'Age'}   we are passing   # we get error because 'Mutable' datatype here in place of keys
print(a)

TypeError: unhashable type: 'list'

** Proving python Dictionary is mutable or immutable**


    -- If we have the same column name it will overide and if we dont have the column it will cfreate the column and add the value we have given.

In [13]:
fruits={}              # empty dict and we have created key: value pair and we can see it is increasing the memory size
fruits['grapes']= 400
fruits['apple']=200
print(fruits)

{'grapes': 400, 'apple': 200}

In [15]:
fruits = {'apple':400, 'grapes':300, 'Carrot':450}    # here we are decreaing the memory
del fruits['Carrot']
print(fruits)

{'apple': 400, 'grapes': 300}

** So from above operations we can say that "Dictionary is Mutable" **

**  Built-in functions:


      1. get
      2. updtae
      3.pop
      4.popitem
      5.keys
      6.values
      7.items
      8.clear
      9.copy

In [22]:
vegetables = {'carrot' : 200, 'tomato': 300, 'cucumber' : 700}   # get will get the value of required column
print(vegetables.get('tomato'))

300

In [41]:
fruits={'apple': 200, 'banana': 400, 'grapes': 300}    # update will add the column
fruits.update({'dragonfruit': 500})
print(fruits)

{'apple': 200, 'banana': 400, 'grapes': 300, 'dragonfruit': 500}

In [50]:
fruits={'apple': 300, 'banana':400, 'dragonfruit':900}      # pop removes a required column
fruits.pop(('apple'))
print(fruits)

{'banana': 400, 'dragonfruit': 900}

In [51]:
fruits={'apple': 300, 'banana':400, 'dragonfruit':900}    # popitems removes last column
fruits.popitem()
print(fruits)

{'apple': 300, 'banana': 400}

In [52]:
fruits={'apple': 300, 'banana':400, 'dragonfruit':900}   # only keys will be printed
fruits.keys()

dict_keys(['apple', 'banana', 'dragonfruit'])

In [53]:
fruits={'apple': 300, 'banana':400, 'dragonfruit':900}    # only values will be printed
fruits.values()

dict_values([300, 400, 900])

In [55]:
fruits={'apple': 300, 'banana':400, 'dragonfruit':900}   # both keys and values will be printed
fruits.items()

dict_items([('apple', 300), ('banana', 400), ('dragonfruit', 900)])

In [59]:
fruits={'apple':300, 'banana':400}    # here it be empty dict it will remove the data inside
fruits.clear()
print(fruits)

{}

In [60]:
a={'apple':300, 'banana':400}
b=a           # deep copy whatever in 'b' will refelct in 'a' and adress is also same
print(a)
print(b)
print(id(a))
print(id(b))
a={'carrot':700}
print(a)
print(b)

{'apple': 300, 'banana': 400}
{'apple': 300, 'banana': 400}
132275332324288
132275332324288
{'carrot': 700}
{'apple': 300, 'banana': 400}

In [61]:
a={'apple':300, 'banana':400}
b=a.copy()           # shallow copy whatever in 'b' willnot refelct in 'a' and adress is also not same
print(a)
print(b)
print(id(a))
print(id(b))
a={'carrot':700}
print(a)
print(b)

{'apple': 300, 'banana': 400}
{'apple': 300, 'banana': 400}
132275332005376
132275332185472
{'carrot': 700}
{'apple': 300, 'banana': 400}