** Syntax Error **

In [ ]:
10a = 20
print(10a)

SyntaxError: invalid decimal literal (<ipython-input-1-b1a5b8278a70>, line 1)

In [ ]:
# Zero division Error

a=5/0
print(a)

ZeroDivisionError: division by zero

In [15]:
# Name Error

city='Newyork'
print('city')

city

In [12]:
# value error

a='Varshi12'
print(int(a))

ValueError: invalid literal for int() with base 10: 'Varshi12'

In [13]:
# Indentation error

for i in range(11,17):
print(i)

IndentationError: expected an indented block after 'for' statement on line 3 (<ipython-input-13-780bf9428698>, line 4)

In [14]:
# file not found error

a=open('varshi.txt', 'r')
print(a.read())
a.close()

FileNotFoundError: [Errno 2] No such file or directory: 'varshi.txt'

** For optimizing these errors we have "try" and "except" method **

In [17]:
try:                # here try block worked so no point of going to except block
  a=10
  b=20
  c=a/b
except:
  pass
print(c)

0.5

In [18]:
try:        # here try try block wont work but the error msg will be taken by the try block and give it to except and it will accept and print the error
  for i in range(11,21):
    if i % 2 == 0:
      print(f"Even:{i/0}")
except Exception as e:
  print(e)

division by zero

In [20]:
try:
  for i in range(11,21):
    if i % 2 == 0:
      print(f'Even:{i}')
except Exception as e:
  print(e)
finally:
  print('I am running without error')

Even:12
Even:14
Even:16
Even:18
Even:20
I am running without error

In [31]:
import sys
try:
  for i in range(11,21):
    if i % 2 == 0:
      print(f'Even:{int(str(i) + "varshitha")}')
except Exception as e:
  print(f'Error msg from [try] block:{e}')
  er_type,er_msg,er_lineno = sys.exc_info()
  print(f'Error type:{er_type}')
  print(f'Error msg from sys : {er_msg}')
  print(f'Error line : {er_lineno.tb_lineno}')

Error msg from [try] block:invalid literal for int() with base 10: '12varshitha'
Error type:<class 'ValueError'>
Error msg from sys : invalid literal for int() with base 10: '12varshitha'
Error line : 5