** All the files are done using 'write' mode**

In [14]:
a=open('varshi.txt', 'w')     # we opened the file in write mode and written something
a.write('I am a married person')
a.close()

In [13]:
a=open('varshitha.txt', 'w')  # we opened a new file and written
a.write('I have a bestfriend')
a.close()

In [12]:
a=open('varshi.txt', 'w')    # we opened the existing file and saw that it is overide or not
a.write('I have a cute sister')
a.close()

** add mode **  -  If the file and data is present in the file, he add mode will add the new data into the file.

In [8]:
a=open('varshi.txt', 'a')
a.write(' I am good')
a.close()

** read mode **  -  If the file is not there, we cant read the data.

In [11]:
a=open('varshitha.txt', 'r')
print(a.read())

I have a bestfriend

In [15]:
import json  # adding dict data into the json file
fruits = {'Apple': 20, 'Carrot' : 40, 'Banana': 50}
with open('vegetables.json', 'w') as f:
  json.dump(fruits,f)

In [17]:
import json   # created another file and checking
with open('fruits.json', 'w') as f:
  json.dump(fruits,f)

In [20]:
with open('vegetables.json', 'r') as f:
  print(json.load(f))

{'Apple': 20, 'Carrot': 40, 'Banana': 50}

In [22]:
fruits = {'apple': 20, 'banana': 30, 'carrot': 40}
sol=json.dumps(fruits)  # dumps will convert dict to str
print(sol)
print(type(sol))

{"apple": 20, "banana": 30, "carrot": 40}
<class 'str'>

In [23]:
p=json.loads(sol)  # loads again convert str to dict
print(p)
print(type(p))

{'apple': 20, 'banana': 30, 'carrot': 40}
<class 'dict'>