** Lambda functions**

   
  --- this function is also known as anonymous function which means it doesnot
   have a function name.

**Syntax**

   lambda arguments : expressions

   -- the variable which is holding the lambda we can call that variable.

In [1]:
c = lambda x,y : x*y
print(c(10,20))

200

In [3]:
# print the table using lambda

c = lambda x,y : x*y
n=2
for i in range(1,11):
  print(f'{n} * {i} = {c(n,i)}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [5]:
def func(n):    # using normal fumctions
  n=3
  for i in range(1,11):
    print(f'{n} * {i} = {n*i}')
func(3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

** Map function**

   Syntax: map(function,iterables)

In [16]:
def varshi(b):
  if b % 2 == 0:
    return b
  else:
    return "Not found"

sol = map(varshi,[10,15,329,40,50])
print(list(sol))

[10, 'Not found', 'Not found', 40, 50]

** Filter function**

  Syntax: filter(function,iterables)

In [18]:
def varshi(n):
  for i in range(10,20):
     if n % 2 == 0:
       return n

sol=filter(varshi, [10,19,29,40,50])    # it will filter the values and gives us the o/p
print(list(sol))

[10, 40, 50]

** Reduce function**

     - we have to import "functools" library for usimg reduce function

In [19]:
import functools

functools.reduce(lambda x,y : x+y, [1,4,8,9,11,18])

51

In [22]:
import functools

functools.reduce(lambda a,b : a*b, [11,2,3,45,6,7])

124740

In [24]:
# map with filter

a=map(lambda x : x + 20, filter(lambda x : x % 2 == 0, [10,35,60,78,6]))
print(list(a))

[30, 80, 98, 26]

In [25]:
#filter with map

a=filter(lambda x : x + 20, map(lambda x : x % 2 == 0, [10,35,60,78,6]))
print(list(a))

[True, False, True, True, True]