** What is List and its Representation**
   
     Anything under [ ] is called List. List means [ ] List can take anytype of data.

In [5]:
a=[10,'data',22.45,True]
print(a)

[10, 'data', 22.45, True]

In [1]:
a=[10,20,30,40,50]
print(a)

[10, 20, 30, 40, 50]

** Same like String List also have memory allocation, Indexing and so on **

In [2]:
a=[10,20,30,40,50]            # it is also allocated in the memory as index values
print(a)

[10, 20, 30, 40, 50]

** List Indexing**

In [3]:
a=[10,20,30,40,50]
print(a[2])

30

In [7]:
a=[10,'data',22.45,True]
print(a[1])

data

In [8]:
a=[10,'data',22.45,True]
print(a[1][1])

a

In [10]:
a=[10,'data',22.45,True,10,20,30]
print(a[2:5])

[22.45, True, 10]

In [11]:
a=[10,'data',22.45,True,10,20,30]
print(a[:5])

[10, 'data', 22.45, True, 10]

In [12]:
a=[10,'data',22.45,True,10,20,30]
print(a[1:])

['data', 22.45, True, 10, 20, 30]

In [14]:
a=[10,'data',22.45,True,10,20,30]
print(a[: : 2])

[10, 22.45, 10, 30]

** Proving that List is Immutable or Mutable**

In [15]:
a=[10,20,30,40,50]
print(a)

[10, 20, 30, 40, 50]

  
  
  To Prove the list is mutable or Immutable  we can have some built-in functions in the list. As List is capale of increasing or decreasing the memory with help of built-in functions. We have:

    1. Append
    2. Extend
    3. Insert

    These methods are used for increasing the memory.

In [18]:
a=[10,20,30,40,50]      # append will take only one input and that input is added to the last item in the list
a.append(60)
print(a)

[10, 20, 30, 40, 50, 60]

In [20]:
a=[10,200,30,40,50]     # extend function will tale multiple values but add to the end of the list
a.extend([60,70,80,90,100])
print(a)

[10, 200, 30, 40, 50, 60, 70, 80, 90, 100]

In [23]:
a=[10,200,30,40,50]     # insert function will tale the value whwerever we want and that exsisting value will move to the right side
a.insert(4,100)
print(a)

[10, 200, 30, 40, 100, 50]

   
    Now we have to decrease the memory size using 2 functtions

    1. pop
    2. remove

In [24]:
a=[10,20,30,40,50]         # defaulty pop will remove last element
a.pop()
print(a)

[10, 20, 30, 40]

In [25]:
a=[10,20,30,40,50]         # giving particular index and pop the element
a.pop(2)
print(a)

[10, 20, 40, 50]

In [27]:
a=[10,20,30,40,50]         # remove function will particularly remove the element we want
a.remove(10)
print(a)

[20, 30, 40, 50]

** From the above operations we can say that "List is Mutable"**

** Few more functions in the list: **


   1. count
   2. index
   3. reverse
   4. sort
   5. clear
   6. copy

In [53]:
a=[10,20,30,40,40,50]
print(a.count(10))

1

In [54]:
a=[10,20,30,40,40,50]
print(a.count(40))

2

In [60]:
a=[10,20,30,40,40,50]
print(a.index(50))

5

In [62]:
a=[10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [63]:
a=[10,50,40,30,20]
a.sort()
print(a)

[10, 20, 30, 40, 50]

In [64]:
a=[10,50,40,30,20]  # descending order
a.sort(reverse=True)
print(a)

[50, 40, 30, 20, 10]

In [65]:
a=[10,50,40,30,20]   # clear function will erase the data in the variable not the variable
a.clear()
print(a)

[]

In [66]:
a=[10,20,30,40,50]    # deep copy means we are giving b to a and giving this directly is not the good way
b=a

print(a)
print(b)

print(id(a))
print(id(b))

a.append(100)

print(a)
print(b)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
136102089602560
136102089602560
[10, 20, 30, 40, 50, 100]
[10, 20, 30, 40, 50, 100]

In [67]:
a=[10,20,30,40,50]         # shallow copy it is more used
b=a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

a.append(100)

print(a)
print(b)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
136102089613248
136102089312448
[10, 20, 30, 40, 50, 100]
[10, 20, 30, 40, 50]