**  Python Set **

   -- Set representation - {}
   
   -- set memory allocation is not specified in one location. So it doesnot  have any indexing,slicing and skipping. That is why set is an unordred pair.

   -- set doesnot allow any duplicates.
   
   -- set is Mutable but it cannot take mutables in it.

In [1]:
a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [3]:
a={10,20,30,40,50}      # here we dont know how set is going to allocate the memory for the variable
print(a)

{50, 20, 40, 10, 30}

In [4]:
a={25,72.3,'data',(1,2,3)}   # iuple is it can take anytype of input as string and tuple is immutable
print(a)

{72.3, 25, (1, 2, 3), 'data'}

In [5]:
print(a[2])     # we are trying to have the index value, no proper allocation of memory so how come indexing be done

TypeError: 'set' object is not subscriptable

** Since there is no index, we cannot manullay increase or decrease the memory.
  So here comes built-in functions.

    
    1. add
    2. update

    -- Used for incerasing the memory

    3.pop
    4.remove
    5.discard

    --used for decreasing the memory

    Other functions:

    6.copy
    7.clear
    8.union
    9.intersection.

In [6]:
a={10,20,30}    # add can take only one i/p from the user and add randomly in the set
a.add(100)
print(a)

{100, 10, 20, 30}

In [7]:
a={10,20,30}     # update will take multiple values but that values will be treated as one in the form of list.
a.update([50,60,70])
print(a)

{70, 10, 50, 20, 60, 30}

In [9]:
a={10,20,30,40,50}           # randomly it will remove one value
a.pop(20)
print(a)

TypeError: set.pop() takes no arguments (1 given)

In [10]:
a={10,20,30,40,50}
a.pop()
print(a)

{20, 40, 10, 30}

In [12]:
a={10,20,30,40,50}      # if the value is present in the set what the user is given it will remove, if not present it will throw error
a.remove(20)
print(a)

{50, 40, 10, 30}

In [13]:
a={10,20,30,40,50}       # here remove func shows error as 200 is not present in the set
a.remove(200)
print(a)

KeyError: 200

In [14]:
a={10,20,30,40,50}     # it will take value from the user, if present will discard, if not it will be silent
a.discard(40)
print(a)

{50, 20, 10, 30}

In [15]:
a={10,20,30,40,50}    # here discard remained silent as 300 is not present in the set and printed the same o/p as given in the variable a randomly
a.discard(300)
print(a)

{50, 20, 40, 10, 30}

** So from the above operations we can say that "Set is Mutable"

In [16]:
a={10,20,30,40,50}     # clear func will print empty set as set() as {} comes under dictionary
a.clear()
print(a)

set()

In [17]:
a=set()      # here we can add anything you want
a.add(100)
a.add(200)
print(a)

{200, 100}

In [18]:
a={1,2,3,4,5}     # intersection gives only the common element present in both the sets a and b
b={5,6,7,8,9,10}
print(a.intersection(b))

{5}

In [19]:
a={1,2,3,4,5,6}     # union takes the values only one time and print the output
b={5,6,7,8,9,10}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
a={10,20,30,40,50}

b=a            # deep copy will print the same whatever in a will effect in b

print(a)
print(b)

print(id(a))
print(id(b))

a.add(200)

print(a)
print(b)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}
134514204675424
134514204675424
{50, 20, 40, 10, 30, 200}
{50, 20, 40, 10, 30, 200}

In [22]:
a={10,20,30,40,50}

b=a.copy()           # shallow copy will print the different values of a and b

print(a)
print(b)

print(id(a))
print(id(b))

a.add(200)

print(a)
print(b)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}
134514204676768
134513903789088
{50, 20, 40, 10, 30, 200}
{50, 20, 40, 10, 30}