** Split Function**

In [3]:
a='Welcome to the Class'      # here it splits when there is space
b=a.split()
print(b)

['Welcome', 'to', 'the', 'Class']

In [4]:
txt = "apple#banana#cherry#orange"          # we have used a separator as "#"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [11]:
a='usa, uk, canada'                # here we used word after space word after space it prints space also
b=a.split()
print(b)

['usa,', 'uk,', 'canada']

In [13]:
a='I am from India'
b=a.split()
print(b)

['I', 'am', 'from', 'India']

In [14]:
a='I am.from.India'     # we dont have any space here between am,from,India so how it will be it will print
b=a.split()
print(b)

['I', 'am.from.India']

In [15]:
a='I am.from.India'   # here we are giving , instead of .
b=a.split('.')
print(b)

['I am', 'from', 'India']

** Join Function**

In [16]:
a=['usa', 'uk', 'india']              # joining the words and not giving space
b=''.join(a)
print(b)

usaukindia

In [18]:
a=['usa','uk', 'india']         # now giving space and printing
b='-> '.join(a)
print(b)

usa-> uk-> india

In [28]:
a='usa uk india'

b=a.split()

print(b)

b.append("canada")

print(b)

c=' '.join(b)

print(c)

['usa', 'uk', 'india']
['usa', 'uk', 'india', 'canada']
usa uk india canada

** Interview Question **

In [33]:
a='i.love.programming.language'     # output: language.programming.love.i

b=a.split('.')                      # where there is dot we are splitting

print(b)

c=b[: : -1]                         # here we are reversing the list

print(c)

d='.'.join(c)                       # here we are joining the list

print(d)

['i', 'love', 'programming', 'language']
['language', 'programming', 'love', 'i']
language.programming.love.i

** Writing the same code in one line**

In [39]:
'.'.join('i.love.programming.language'.split('.')[: : -1])        # first split and the reverse and then join

'language.programming.love.i'

In [41]:
a='data science'                  # here we are printing vowels
b=a[1]+a[3]+a[7]+a[8]+a[11]
print(b)

aaiee

In [42]:
a='data science'                # here we are printing the characters other than vowels
b=a[0]+a[2]+a[4]+a[5]+a[6]+a[9]+a[10]
print(b)

dt scnc

In [45]:
a='data science'      # here we have converted string to list and then join
b=list(b)
c=''.join(b)
print(b)
print(c)

['d', 't', ' ', 's', 'c', 'n', 'c']
dt scnc

In [47]:
a='data science'          # individually removing the vowels and convert them into list and joining them
b=list(a)
print(b)
b.remove('a')
b.remove('e')
b.remove('i')
b.remove('a')
b.remove('e')
c=''.join(b)
print(c)

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']
dt scnc