** What is String **

     Anything under the quotes called String.

**  Memory Allocation of String**

     Memory in the string is alloted as a= **data** within th box.

In [ ]:
a='data'      # will save in the memory
print(a)      # calling from memory

data

 ** Indexing of a String**

     Naming the string is called Indexing.
     
     Indexing is given as a="data science" in the box and allocating the numbers for the string as d=a[0], a=a[1]..... in the string.

In [ ]:
a='data science'
print(a[2])

t

In [ ]:
a='data science'
print(a[6])

c

** Slicing the String**

  
     We have Starting and ending points in the slicimg represnted with ':'. It worls as (n-1) tendency ie a1,a2,a3.....an(n-1).

In [ ]:
a='data science'
print(a[2:8])         # here it takes as n-1 where n=8 and n-1=7 so upto 7 how many characters are there they will print

ta sci

In [ ]:
a='data science'
print(a[2:])           # now here from 2nd index it will print upto the last characters

ta science

In [ ]:
a='data science'
print(a[:6])           # from starting upto (n-1) characters

data s

** Skipping in the String**

     
     Skipping the value according the given number like 2,3...

In [ ]:
a='data science'
print(a[: : 2])        # from starting to ending skipping two two characters

dt cec

In [ ]:
a='data science'
print(a[: : 3])         # from starting to ending skipping the 3 characters

dacn

** Proving that String is IMMUtable/Mutable**

     Immutable: If the user is not capable of increase or decrease the memory size is called Immutable.
     Mutable: If the user is capable of increase or decrease the memory size is called Immutable.

In [ ]:
a='data science'
a[4]='analyst'     # user is trying to increase the memory size
print(a)

TypeError: 'str' object does not support item assignment

In [ ]:
a='data science'
a[2]='analyst'      # user is trying to decrease the memory size
print(a)

TypeError: 'str' object does not support item assignment

** Hence it is proved that "String is "Immutable" **